@font-face {
  font-family: Average;
  src: url("Average-Regular.ttf");
}

body {
  background-color: #9cedff;
  text-align: center;
  font-family: Average;
}

#inner {
  max-width: 1280px;
}

#outer {
  width:100%;
  display: flex;
  justify-content: center;
}

a {
  color: black;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
/*  background-color: #333;*/
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  text-align: right;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  display: block;
}

.topnav span {
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  padding-top: 150px;
  font-size: 72px;
}

.megpic {
 max-width: 65%;
 margin-bottom: 4%;
}

#peabody {
  font-size: 32px;
}

#sevenyears {
  font-size: 24px;
}

#portrait {
 border-radius: 100%;  
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding-bottom: 10%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #9cedff;
}

.double {
  grid-column-start: 2;
  grid-column-end: 4;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}

#links {
  font-size: 32px;
  margin-top: -32px;
}

#otherworktext {
  font-size: 24px;
}